@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* Start Variablies*/
:root {
    --main-color: #10cab7 ;
    --secondary-color:#2c4755;
}
/* End Variablies*/

/* Start global rules*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    
    line-height: 1.5;
}

body.dark-theme {
	background-color: #222;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--main-color);
}

ul{
    list-style: none;
}

.container {
    width: 70%;
    margin: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Meduim */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1250px
    }
}
/*End global Rules*/
/* Start Header*/

header{
    width: 100%;
    background-color: #333;
    position: fixed;
	 top: 0;
    z-index: 999;
}

header .container{
    width: 1250px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #c1c4ca solid 3px;
}

@media (max-width: 768px) {
    .header .container {
        width: 90%;
    }
}

header .container label{
    color: #cfd6e1;
}
header .container a{
    color: #cfd6e1;
    text-decoration: none;
    font-size: 0.8em;
    padding-left: 5px;
}
header .container i {
    color: #cfd6e1;
    font-size: 0.8em;
    padding-left: 10px;
}
header .container p{
    color: #cfd6e1;
    font-size: 0.8em;
    padding-right: 208px;
    transition: 0.5s ;
}
header .container p:hover ,header .container i:hover ,header .container a:hover{
    color:#10cab7;
}

/*                     nav bar                 */
.nav{
    background-color: #DDD;
    width: 100%;
    padding-top: 20px;
    padding-right: 100px;
    height: 90px;
    padding-top: 50px;
    position: fixed;
	 top: 0;
    z-index: 500;
}


.nav .logo{
    width:50px;
    position: absolute;
    left: 50%;
    transform : translate(-43%,+1%);
    top: 32px;
    cursor: pointer;
}

.nav .container .srch-user{
    position: absolute;
    right:220px;
}

.nav .container .srch-user a{
    text-decoration: none;
    color: #000;
}

@media (max-width: 768px) {
    .nav .container .srch-user {
        background: none;
        right:40px;
    }
}

.nav .container i:hover{
    color:#10cab7;
}

.nav .container input{
    border-radius: 12px;
    width: 268%;
    border: #10cab7 1px solid;
    outline-color: #10cab7;
    display: none;
    position: absolute;
    right: 98px;
    top: -5px;
}

.nav-container input::placeholder{
    font-size: small;
    text-align: center;
}
/*                   Menu Icon creation               */
.nav .menu-icon{
    position: absolute;
    left: 14%;
    }

.nav .menu-icon .icon {
    width:25px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.nav .menu-icon .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.nav .menu-icon .icon span:first-child{
width: 100%;
}
.nav .menu-icon .icon span:nth-child(2){
    width: 50%;
    transition: 0.3s;
}
.nav .menu-icon .icon span:last-child{ 
    width: 100%;
    
}
.nav .menu-icon:hover .icon span:nth-child(2){
    width: 100%;
}


/*           Menu of nav bar             */
.nav .menu-icon ul{
    list-style: none;
    margin: 0px;
    padding: 0;
    background-color: #eee;
    position: absolute;
    left: 10%;
    top: calc(100% + 8px);
    min-width: 139px ;
    text-transform: none;
    border-radius: 2px 5px 5px 5px;
    display: none;
    z-index: 1;
}
.nav .menu-icon:hover ul{
    display: block;
}
.nav .menu-icon ul::before {
content: "";
border-width: 10px;
border-style: solid;
border-color: transparent transparent #eee transparent;
position: absolute;
left:4px;
top: -20px;
}
.nav .menu-icon ul li a {
    display: block;
    padding : 15px;
    text-decoration: none;
    color:#333;
    transition: 0.7s;
}

.nav .menu-icon ul li a:hover{
    padding-left: 35px;
    color:#eee;
    background-color: #414141;
    
}
.nav .menu-icon ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.srch-user .quantity{
    background-color: #10cab7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -14px;
    left: 55%;
    padding: 3px 10px;
    width: 16px;
    height: 16px;
    font-size: 13px;
}

.fa-moon{
    margin-right:15px;
    cursor: pointer;
}

.card-wrapper{
    max-width: 1100px;
    margin: 90px auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}
